.app-logo {
    height: 30vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-float infinite 10s linear;
    }
}

@keyframes app-logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0);
    }
}